*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.settings{
    display: flex;
    width: 90%;
    flex-direction: column;
    height: 100vh;
    margin: 0% auto;
    border-top: 2px solid black;
}
.settings .title{
    width: 100%;
    display: grid;
    place-items: center;
    flex: 2;
    font-weight: bolder;
    font-size: 40px;
}
.settings .holder{
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(140, 138, 255, 0.151);
    padding: 3%;
    border-radius: 20px;
    border: 5px solid black;
}
.settings .holder .cat{
    display: flex;
    align-items: center;
    padding-left: 4%;
}
.settings .holder .cat button{
    background-color: transparent;
    border: 3px solid black;
    padding: 1%;
    border-radius: 20px;
    flex: 2;
    margin-right: 5%;
    display: inline-block;
    background-color: #5f8dff;
    color: aliceblue;
    font-weight: bolder;
}
.settings .holder .cat .instruct{
    flex: 8;
}

.settings .holder span{
    color: red;
    font-weight: bold;
    height: 100%;
    justify-content: center;
}
.Alert{
    background-color:#5f8dff;
    border: 2px solid black;
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
    position: fixed; 
    top: 50%;     
    left: 50%; 
    transform: translate(-50%, -50%);
}
@media (max-width: 768px){
    .settings .holder .cat button{
        flex: 5;
        padding: 3%;
    }
}

