
.auth-page {
    display: grid;
    place-items: center;
    height: 150vh;
    background: linear-gradient(135deg, #5f8dff, #55aaff);
    font-family: 'Arial', sans-serif;
    background-image: url(../LayeredWavesHaikei\(Large\).svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.auth-page .holder{
    width: 30%;
}

.auth-page .holder .card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 30px;   
    transition: transform 0.3s;
}

.auth-page .holder .card-holder:hover {
    transform: translateY(-5px);
}

.auth-page .holder .card-holder .selectors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}

.auth-page .holder .card-holder .selectors span {
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s, border-bottom 0.3s;
}

.auth-page .holder .card-holder .selectors span:hover {
    color: #55aaff;
}

.auth-page .holder .card-holder .sub-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth-page .holder .card-holder .sub-holder .login-card, .sign-up-card {
    width: 100%;
    height: 100%;
    background: #f0f4ff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.auth-page .holder .card-holder .sub-holder .login-card:hover, .sign-up-card:hover {
    transform: translateY(-3px);
}
.auth-page .holder .card-holder .sub-holder .holder{
    width: 100%;
}
.auth-page .holder .card-holder .sub-holder .holder input{
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #5f8dff;
    border-radius: 5px;
    transition: border-color 0.3s;
    width: 100%;
}

.auth-page .holder .card-holder .sub-holder button {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 12px 20px;
    background-color: #5f8dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.auth-page .holder .card-holder .sub-holder button:hover {
    background-color: #55aaff;
    transform: scale(1.05);
}
.auth-page .holder .card-holder .sub-holder .sign-up-card .OtpCheck{
    text-align: center;
    
} 
.auth-page .holder .card-holder .sub-holder .sign-up-card .OtpCheck span{
    font-weight: bolder;
    font-size: 20px;
}
.auth-page .holder .card-holder .sub-holder .sign-up-card .OtpCheck input{
    border-radius: 5px;
    border: 2px solid #55aaff;
    padding: 3%;
    margin: 5% 0;
}

@media (max-width: 768px) {

.auth-page {
    height: 100vh;
    background-image: url(../LayeredWavesHaikei\(Small\).svg);
}

.auth-page .holder{
    width: 90%;
}

}

/* Authorization Page Styling Complete */