/* General Styling */
body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    color: #004080;
}

/* Group Section */
.group-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Group Container */
.Group {
    width: 45%;
    background-color: #e6f2ff;
    border: 2px solid #004080;
    border-radius: 10px;
    padding: 10px;
    margin: 3vh 0;
    text-align: center;
    box-shadow: #0000006e 4px 7px 10px;
}

/* Group Row Styling */
.Group-row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2% 0;
    background-color: #d1e6ff;
    border-radius: 6px;
}

.Group-row .rank,
.Group-row .played,
.Group-row .wins,
.Group-row .losses,
.Group-row .points {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.Group-row .name {
    width: 35%;
    text-align: left;
    padding-left: 5%;
}

/* Button Styling */
.Fixtures div button {
    background-color: #5f8dff;
    border: none;
    border-radius: 10px;
    width: 60%;
    color: #fff;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 300ms ease;
}

.Fixtures div button:hover{
    transform: scale(1.1);
    transition: transform 300ms ease;
}

.Fixtures div button:active{
    transform: scale(1);
}

.Fixtures div button:active {
    background-color: #5075d3;
}

/* Fixtures Section */
.Fixtures {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.Fixtures main{
    background-color: #d1e6ff;
    border-radius: 10px;
    margin: 2% 0;
    padding: 5%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Left and Right Teams */
.left-team, .right-team {
    width: 25%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    background-color: #e6f2ff;
    border-radius: 8px;
}

.left-team div, .right-team div {
    padding: 5px;
    font-weight: bold;
    color: #004080;
    text-wrap: wrap;
}

.score-team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
}

.score-team div{
    font-size: 140%;
}

.setting {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.setting input {
    width: 40px;
    padding: 5px;
    border: 1px solid #004080;
    border-radius: 4px;
    margin: 0 10px;
}

.setting button {
    background-color: #004080;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.show-data main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #d1e6ff;
    border-radius: 6px;
}

.knockout-sec{
    height: 70vh;
    display: grid;
    place-items: center;
    /* margin-top: 10%; */
}
.knockout-sec .holderrr{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.quarter-final,.semi-final,.final{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 2%;
    border-radius: 0px 20px 20px 20px;
    box-shadow: 0px 0px 10px black;
    /* position: relative; */
}

.quarter-final .QF,.SF,.F{
    border: 2px solid  #004080;
    background-color: #e6f2ff;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 20px;
    font-weight: bold;
}
.quarter-final .QF .setscore {
    display: flex;
    justify-content: center;
}
.quarter-final .QF button{
    background-color: #5075d3;
    padding: 1%;
    margin: 0 3%;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
}
.quarter-final .QF input{
    width: 20%;
    height: 100%;
    margin: 0 1%;
    border: 1px solid black;
    border-radius: 5px;
}
.quarter-final .QF main{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.semi-final .SF .setscore {
    display: flex;
    justify-content: center;
}
.semi-final .SF button{
    background-color: #5075d3;
    padding: 1%;
    margin: 0 3%;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
}
.semi-final .SF input{
    width: 20%;
    height: 100%;
    margin: 0 1%;
    border: 1px solid black;
    border-radius: 5px;
}
.semi-final .SF main{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.final .F .setscore {
    display: flex;
    justify-content: center;
}
.final .F button{
    background-color: #5075d3;
    padding: 1%;
    margin: 0 3%;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
}
.final .F input{
    width: 20%;
    height: 100%;
    margin: 0 1%;
    border: 1px solid black;
    border-radius: 5px;
}
.final .F main{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quarter-final .title{
    background-color:#004080;
    color: whitesmoke;
    padding-top: 4px;
    border-radius: 18px 0 20px  0;
    border-bottom: 2px solid #004080;
    display: grid;
    place-items: center;
}
.semi-final .title{
    background-color:#004080;
    color: whitesmoke;
    padding-top: 4px;
    border-radius: 18px 0 20px  0;
    border-bottom: 2px solid #004080;
    display: grid;
    place-items: center;
}
.final .title{
    background-color:#004080;
    color: whitesmoke;
    padding-top: 4px;
    border-radius: 18px 0 20px  0;
    border-bottom: 2px solid #004080;
    display: grid;
    place-items: center;
}

@media (max-width: 768px){

    .Group{
        width: 95%;
        font-size: 85%;
    }

    .Group-row .rank,
    .Group-row .played,
    .Group-row .wins,
    .Group-row .losses,
    .Group-row .points {
        width: 10%;
    }

    .Group-row .name {
        width: 25%;
    }

    .Group-row {
        justify-content: space-evenly;
    }
    .knockout-sec{
        height: 70vh;
        /* background-color: rgb(189, 119, 119); */
        display: grid;
        place-items: center;
        /* margin-top: 20%; */
    }
    .quarter-final,.semi-final,.final{
        padding: 0% 0% 5% 0%;
        border-radius: 20px ;
    }
    .quarter-final .title{
        border-radius: 18px 18px 0px  0;
    }
    .semi-final .title{
        border-radius: 18px 18px 0px  0;
    }
    .final .title{
        border-radius: 18px 18px 0px  0;
    }
    .quarter-final .QF main{
        font-size: 15px;
    }

}

/* Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 600px;
    min-height: 200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
  }

  .modal-content h1{
    padding: 5% 0;
    margin-top: 30px;
  }

  .modal-overlay .modal-content .close-btn {
    position: absolute;
    right: 2%;
    z-index: 2;
    width: 50px;
    height: 50px;
    /* background-color: transparent !important; */
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .close-btn:hover {
    color: #ff0000;
  }

  .modal-body {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 768px) {
    .modal-content {
      width: 90%;
      padding: 10px;
    }

    .modal-body {
        width: 90%;
        margin: 10% 0;
      }
  }

/* End Modal */